QMenuBar
{
    background-color: #f8f8f8;
    color: black;
}

QMenu::item
{
    background-color: #f8f8f8;
    color: black;
}

QMenu::item:selected
{
    background-color: #e1e1e1;
    color: black;
}