QToolButton
{
    background-color:#181818;
    border: 1px solid #181818;
    margin: 1px;
    padding: 2px;
}

QToolButton#circleButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Circle.png");
}

QToolButton#circleButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/CircleHover.png");
}

QToolButton#lineButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Line.png");
}

QToolButton#lineButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/LineHover.png");
}

QToolButton#arcButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Arc.png");
}

QToolButton#arcButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/ArcHover.png");
}

QToolButton#polyLineButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/PolyLine.png");
}

QToolButton#polyLineButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/PolyLineHover.png");
}

QToolButton#rectangleButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Rectangle.png");
}

QToolButton#rectangleButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/RectangleHover.png");
}