QToolButton
{
    background-color:#181818;
    border: 1px solid #181818;
    margin: 1px;
    padding: 2px;
}

QToolTip
{
    color: white;
    background-color: #1f1f1f;
    border: 1px solid #181818;
}

QToolButton
{
    padding: 0px;
    margin: 1px;
    min-width: 20;
    min-height: 20px;
}

QToolButton#circleButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Circle.png");
}

QToolButton#circleButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/CircleHover.png");
}

QToolButton#lineButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Line.png");
}

QToolButton#lineButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/LineHover.png");
}

QToolButton#arcButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Arc.png");
}

QToolButton#arcButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/ArcHover.png");
}

QToolButton#polyLineButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/PolyLine.png");
}

QToolButton#polyLineButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/PolyLineHover.png");
}

QToolButton#rectangleButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Rectangle.png");
}

QToolButton#rectangleButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/RectangleHover.png");
}

QToolButton#holeButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Hole.png");
}

QToolButton#holeButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/HoleHover.png");
}

QToolButton#pullButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Push.png");
}

QToolButton#pullButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/PushHover.png");
}

QComboBox
{
    min-width: 130px;
    border: 1px solid #454545;
    background-color: #1f1f1f;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;  
}

QComboBox QAbstractItemView
{
    background-color: #1f1f1f;
    border: 1px solid #454545;
    color: #ffffff;
    outline: 0px; /*Go to dotted line*/
}
QComboBox QAbstractItemView::item 
{
    background-color: transparent;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

QComboBox QAbstractItemView::item:hover
{
    background-color:#454545;
    color: #ffffff;
    border: none;
}

QComboBox QAbstractItemView::item:selected
{
    background-color:#454545; 
    color: #ffffff;
    border: none;
}

QToolButton#xyButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XY.png");
}

QToolButton#xyButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XYHover.png");
}

QToolButton#xzButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XZ.png");
}

QToolButton#xzButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XZHover.png");
}

QToolButton#yzButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/YZ.png");
}

QToolButton#yzButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/YZHover.png");
}

QToolButton#xyzButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XYZ.png");
}

QToolButton#xyzButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/XYZHover.png");
}

QToolButton#chamferButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Chamfer.png");
}

QToolButton#chamferButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/ChamferHover.png");
}

QToolButton#grooveButton
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/Groove.png");
}

QToolButton#grooveButton:hover
{
    image: url(":/Images/Src/Ui/Icons/Dark3DToolsIcons/GrooveHover.png");
}