QToolBar
{
    background-color: #181818;
    border-color: none;
}

QToolButton
{
    background-color:#181818;
    border: none;             
    padding: 2px 6px;
    border-radius: 5px;
}


QToolButton#openButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/FolderHover.png");
}

QToolButton#openButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/Folder.png");
}

QToolButton#createButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/FileHover.png");
}

QToolButton#createButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/File.png");
}


QToolButton#saveButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/SaveHover.png");
}

QToolButton#saveButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/Save.png");
}

QToolButton#saveAllButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/SaveAllHover.png");
}
QToolButton#saveAllButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/SaveAll.png");
}

QToolButton#undoButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/UndoHover.png");
}
QToolButton#undoButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/Undo.png");
}

QToolButton#returnButton:hover
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/RedoHover.png");
}
QToolButton#returnButton
{
    image: url(":/Images/Src/Ui/Icons/DarkThemeIcons/Redo.png");
}

